In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
cols=['Shear', 'Stagger', "Stretch",'Propeller','Opening']
df1=pd.read_csv('fn_nat_all_nodt.csv')
df2=pd.read_csv('fn_mm20_all_bps.csv')
df3=pd.read_csv('fn_16_19_all_bps.csv')
df4=pd.read_csv('fn_mm17-20_all_bps.csv')
df1=df1.drop(columns=['fn_20_major','fn_20_minor','fn_19_major','fn_19_minor','fn_18_major','fn_18_minor','fn_17_major','fn_17_minor'])
name=[*list(df1.columns)]
df2.head()

,fn_mm20_shear_20,fn_mm20_stretch_20,fn_mm20_stagger_20,fn_mm20_buckle_20,fn_mm20_propeller_20,fn_mm20_opening_20,fn_mm20_shear_19,fn_mm20_stretch_19,fn_mm20_stagger_19,fn_mm20_buckle_19,...,fn_mm20_stagger_18,fn_mm20_buckle_18,fn_mm20_propeller_18,fn_mm20_opening_18,fn_mm20_shear_17,fn_mm20_stretch_17,fn_mm20_stagger_17,fn_mm20_buckle_17,fn_mm20_propeller_17,fn_mm20_opening_17
0,0.03,-1.71,-0.95,9.14,-26.28,15.14,0.43,0.13,-0.18,-14.78,...,0.70,20.08,1.10,2.71,-0.37,0.22,0.10,9.64,-6.35,-1.23
1,-1.13,-1.75,-0.85,-12.41,-34.23,14.72,-0.19,0.18,-0.15,-15.95,...,0.86,12.65,3.50,2.04,0.01,0.04,1.00,1.07,-18.87,6.58
2,-0.59,-1.68,-1.17,-16.80,-20.45,6.86,0.52,0.17,-0.72,-16.68,...,-0.04,14.80,-2.68,-1.27,-0.22,0.16,-0.44,15.88,-22.29,5.94
3,-0.47,-1.61,-0.84,1.05,-38.72,16.35,0.70,0.05,-1.00,-18.11,...,0.07,18.66,10.22,3.58,-0.26,0.07,-0.39,12.57,-6.17,2.68
4,-1.32,-1.70,-0.66,-12.76,-37.15,10.65,0.09,0.21,-0.50,-30.58,...,0.10,13.30,14.33,-3.94,-0.67,0.08,-0.69,24.11,-13.47,-8.14

In [3]:
#li_rd=[]
li_nat=[]
li_mm20=[]
li_mm16_19=[]
li_mm17_20=[]

print(len(df1), len(df2),len(df3),len(df4)) 

df1.columns = range(df1.shape[1])
df2.columns = range(df2.shape[1])
df3.columns = range(df3.shape[1])
df4.columns = range(df4.shape[1])

# for i in range(len(df1)):
#    li_rd.append('Fn_RNA_DNA')

for i in range(len(df1)):
    li_nat.append('Fn_native')

for i in range(len(df2)):
    li_mm20.append('Fn_mm20')

for i in range(len(df3)):
    li_mm16_19.append('Fn_mm16_19')
    
for i in range(len(df4)):
    li_mm17_20.append('Fn_mm17-20')
    

#df1['Labels']=li_rd
df1['Labels']=li_nat
df2['Labels']=li_mm20
df3['Labels']=li_mm16_19
df4['Labels']=li_mm17_20


print(len(df1), len(df2),len(df3), len(df4))

49999 14990 16507 13722
49999 14990 16507 13722

In [4]:
dfs=[df1,df2,df3,df4]
fn_df=pd.concat(dfs)
name=['fn_all_bp20_shear','fn_all_bp20_stretch','fn_all_bp20_stagger','fn_all_bp20_buckle','fn_all_bp20_propeller','fn_all_bp20_opening','fn_all_bp19_shear','fn_all_bp19_stretch','fn_all_bp19_stagger','fn_all_bp19_buckle','fn_all_bp19_propeller','fn_all_bp19_opening','fn_all_bp18_shear','fn_all_bp18_stretch','fn_all_bp18_stagger','fn_all_bp18_buckle','fn_all_bp18_propeller','fn_all_bp18_opening','fn_all_bp17_shear','fn_all_bp17_stretch','fn_all_bp17_stagger','fn_all_bp17_buckle','fn_all_bp17_propeller','fn_all_bp17_opening','Label']
df_na=pd.DataFrame()
df_na=pd.concat([df1,df2,df3,df4])
df_na.columns=name
df_na.to_csv('FnCas9-NA-str-prop.csv', index=False)

In [5]:
cont1=pd.read_csv('sgRNA-tDNA-count_nodt_fnnat.csv').reset_index(drop=True)
cont2=pd.read_csv('sgRNA-tDNA-count_nodt_fnmm20.csv').reset_index(drop=True)
cont3=pd.read_csv('sgRNA-tDNA-count_nodt_fnmm16_19.csv').reset_index(drop=True)
cont4=pd.read_csv('sgRNA-tDNA-count_nodt_fnmm17-20.csv').reset_index(drop=True)

data=pd.concat([cont1,cont2,cont3,cont4],axis=1).reset_index(drop=True)
data.head()
filtered_cont=data.iloc[:,[1,4,7,10]]
filtered_cont.columns=['Fn_native','Fn_mm20','Fn_mm16_19','Fn_mm17-20']
# 
# data_an_save.columns=['Label','sgRNA-tDNA cont']
# data_an_save.to_csv('FnCas9_all-sgrna-tdna_cont.csv', index=False)
# data_an_save.head()

# cont=cont1.merge(cont3,how="inner",on='#Frame')
filtered_cont.head()
cont=filtered_cont.stack().reset_index().sort_values(by=['level_1'], ascending=False).iloc[:,1:]
cont.columns=['Label','sgRNA-tDNA cont']
cont.to_csv('FnCas9_all-sgrna-tdna_cont.csv', index=False)
cont.head()

            Label  sgRNA-tDNA cont
0       Fn_native            875.0
102404  Fn_native            698.0
145568  Fn_native            653.0
102388  Fn_native            667.0
145564  Fn_native            684.0

In [6]:
print(cont.shape)

(200877, 2)

In [7]:
#LIE between sgRNA and tDNA
fn_hy1=pd.read_csv('lie_fnnat_sgrna-tdna.csv')
fn_hy2=pd.read_csv('lie_fnmm20_sgrna-tdna.csv')
fn_hy3=pd.read_csv('lie_fnmm16_19_sgrna-tdna.csv')
fn_hy4=pd.read_csv('lie_fnmm17_20_sgrna-tdna.csv')
fn_hy1.head()

fn_hy1.reset_index(drop=True, inplace=True)
fn_hy2.reset_index(drop=True, inplace=True)
fn_hy3.reset_index(drop=True, inplace=True)
fn_hy4.reset_index(drop=True, inplace=True)

fn_hy1.columns=['Frame','fn-ELE','fn-VDW']
fn_hy2.columns=['Frame','fnmm20-ELE','fnmm20-VDW']
fn_hy3.columns=['Frame','fnmm16_19-ELE','fnmm16_19-VDW']
fn_hy4.columns=['Frame','fnmm17-20-ELE','fnmm17-20-VDW']

fnhy_ele=pd.concat([fn_hy1.iloc[:,1:2],fn_hy2.iloc[:,1:2],fn_hy3.iloc[:,1:2],fn_hy4.iloc[:,1:2]],axis=1)
fnhy_vdw=pd.concat([fn_hy1.iloc[:,2:],fn_hy2.iloc[:,2:],fn_hy3.iloc[:,2:],fn_hy4.iloc[:,2:]],axis=1)
#fn_vdw.head()
fnhy_ele.head()
#rmsd.columns=['Fn_native','Fn_mm20','Fn_mm16_19','Fn_mm17-20']
efn_hy=pd.DataFrame()
efn_hy['Fn_native']=fnhy_ele['fn-ELE']+fnhy_vdw['fn-VDW']
efn_hy['Fn_mm20']=fnhy_ele['fnmm20-ELE']+fnhy_vdw['fnmm20-VDW']
efn_hy['Fn_mm16_19']=fnhy_ele['fnmm16_19-ELE']+fnhy_vdw['fnmm16_19-VDW']
efn_hy['Fn_mm17-20']=fnhy_ele['fnmm17-20-ELE']+fnhy_vdw['fnmm17-20-VDW']
#efn_hy.to_csv('LIE-fn-all_RNP.csv', index=False)
efn_hy.head()
out=efn_hy.stack().reset_index().sort_values(by=['level_1'], ascending=False).iloc[:,1:]
out.columns=['Label','LIE']
out.to_csv('LIE-fn-all_sgRNA-tdna-nodt.csv', index=False)
out.head()

            Label       LIE
0       Fn_native -410.4885
102404  Fn_native -449.4299
145568  Fn_native -417.8293
102388  Fn_native -448.9658
145564  Fn_native -448.3792

In [8]:
out.shape

(200877, 2)

In [9]:
sasa=pd.read_csv('../native_non-native_conts/FnCas9_all-protein_SASA.csv')
sasa.Label.unique()

array(['Fn_native', 'Fn_mm20', 'Fn_mm17-20', 'Fn_mm16_19'], dtype=object)

In [10]:
angle1=pd.read_csv('angle_fn.csv').reset_index(drop=True)
angle2=pd.read_csv('angle_fnmm20.csv').reset_index(drop=True)
angle3=pd.read_csv('angle_fnmm16_19.csv').reset_index(drop=True)
angle4=pd.read_csv('angle_fnmm17_20.csv').reset_index(drop=True)

In [11]:
sasa1=pd.read_csv('sasa_fn.csv').reset_index(drop=True)
sasa2=pd.read_csv('sasa_fnmm20.csv').reset_index(drop=True)
sasa3=pd.read_csv('sasa_fnmm16_19.csv').reset_index(drop=True)
sasa4=pd.read_csv('sasa_fnmm17_20.csv').reset_index(drop=True)

In [12]:
rog1=pd.read_csv('rog_fn.csv').reset_index(drop=True)
rog2=pd.read_csv('rog_fnmm20.csv').reset_index(drop=True)
rog3=pd.read_csv('rog_fnmm16_19.csv').reset_index(drop=True)
rog4=pd.read_csv('rog_fnmm17_20.csv').reset_index(drop=True)

In [13]:
# rmsd of protein backbone atoms
rmsd1=pd.read_csv('rmsd_fn.csv').reset_index(drop=True)
rmsd2=pd.read_csv('rmsd_fnmm20.csv').reset_index(drop=True)
rmsd3=pd.read_csv('rmsd_fnmm16_19.csv').reset_index(drop=True)
rmsd4=pd.read_csv('rmsd_fnmm17_20.csv').reset_index(drop=True)

In [14]:
angle=pd.concat([angle1,angle2,angle3,angle4],axis=1).reset_index(drop=True)
angle.columns=['Fn_native','Fn_mm20','Fn_mm16_19','Fn_mm17-20']
angle=angle.stack().reset_index().sort_values(by=['level_1'], ascending=False).iloc[:,1:]
angle.columns=['Label','Angle']
angle.to_csv('FnCas9_all-protein_angle.csv', index=False)
angle.head()

           Label    Angle
0      Fn_native  74.9050
93320  Fn_native  71.9931
93348  Fn_native  70.8587
93344  Fn_native  69.3978
93340  Fn_native  68.9098

In [15]:
rmsd=pd.concat([rmsd1,rmsd2,rmsd3,rmsd4],axis=1).reset_index(drop=True)
rmsd.columns=['Fn_native','Fn_mm20','Fn_mm16_19','Fn_mm17-20']
rmsd=rmsd.stack().reset_index().sort_values(by=['level_1'], ascending=False).iloc[:,1:]
rmsd.columns=['Label','RMSD']
rmsd.to_csv('FnCas9_all-protein_RMSD.csv', index=False)
rmsd.head()

            Label    RMSD
0       Fn_native  0.0000
102404  Fn_native  3.6146
145568  Fn_native  3.9389
102388  Fn_native  3.7250
145564  Fn_native  3.8886

In [16]:
rog=pd.concat([rog1,rog2,rog3,rog4],axis=1).reset_index(drop=True)
rog.columns=['Fn_native','Fn_mm20','Fn_mm16_19','Fn_mm17-20']
rog=rog.stack().reset_index().sort_values(by=['level_1'], ascending=False).iloc[:,1:]
rog.columns=['Label','ROG']
rog.to_csv('FnCas9_all-protein_ROG.csv', index=False)
rog.head()

            Label      ROG
0       Fn_native  42.3083
102404  Fn_native  42.3648
145568  Fn_native  41.9093
102388  Fn_native  42.4010
145564  Fn_native  41.7911

In [17]:
sasa=pd.concat([sasa1,sasa2,sasa3,sasa4],axis=1).reset_index(drop=True)
sasa.columns=['Fn_native','Fn_mm20','Fn_mm16_19','Fn_mm17-20']
sasa=sasa.stack().reset_index().sort_values(by=['level_1'], ascending=False).iloc[:,1:]
sasa.columns=['Label','SASA']
sasa.to_csv('FnCas9_all-protein_SASA.csv', index=False)
sasa.head()

            Label        SASA
0       Fn_native  16966.1651
102404  Fn_native  16274.8351
145568  Fn_native  15949.5076
102388  Fn_native  16626.5791
145564  Fn_native  15875.5775

In [18]:
fn1_ruvc=pd.read_csv('ruvc-hyrbid-count_nodt_fnnat.csv').reset_index(drop=True)
fn2_ruvc=pd.read_csv('ruvc-hyrbid-count_nodt_fnmm20.csv').reset_index(drop=True)
fn3_ruvc=pd.read_csv('ruvc-hyrbid-count_nodt_fnmm16_19.csv').reset_index(drop=True)
fn4_ruvc=pd.read_csv('ruvc-hyrbid-count_nodt_fnmm17-20.csv').reset_index(drop=True)

fn1_hnh=pd.read_csv('hnh-hybrid-count_nodt_fnnat.csv').reset_index(drop=True)
fn2_hnh=pd.read_csv('hnh-hybrid-count_nodt_fnmm20.csv').reset_index(drop=True)
fn3_hnh=pd.read_csv('hnh-hybrid-count_nodt_fnmm16_19.csv').reset_index(drop=True)
fn4_hnh=pd.read_csv('hnh-hybrid-count_nodt_fnmm17-20.csv').reset_index(drop=True)

In [19]:
# Contacts between ntDNA and tDNA
fn1_dna=pd.read_csv('ntDNA-tDNA-count_nodt_fnnat.csv').reset_index(drop=True)
fn2_dna=pd.read_csv('ntDNA-tDNA-count_nodt_fnmm20.csv').reset_index(drop=True)
fn3_dna=pd.read_csv('ntDNA-tDNA-count_nodt_fnmm16_19.csv').reset_index(drop=True)
fn4_dna=pd.read_csv('ntDNA-tDNA-count_nodt_fnmm17-20.csv').reset_index(drop=True)

In [20]:
fn1_rec1=pd.read_csv('rec1-hyrbid-count_nodt_fnnat.csv').reset_index(drop=True)
fn2_rec1=pd.read_csv('rec1-hyrbid-count_nodt_fnmm20.csv').reset_index(drop=True)
fn3_rec1=pd.read_csv('rec1-hyrbid-count_nodt_fnmm16_19.csv').reset_index(drop=True)
fn4_rec1=pd.read_csv('rec1-hyrbid-count_nodt_fnmm17-20.csv').reset_index(drop=True)

In [21]:
fn1_rec2=pd.read_csv('rec2-hybrid-count_nodt_fnnat.csv').reset_index(drop=True)
fn2_rec2=pd.read_csv('rec2-hybrid-count_nodt_fnmm20.csv').reset_index(drop=True)
fn3_rec2=pd.read_csv('rec2-hybrid-count_nodt_fnmm16_19.csv').reset_index(drop=True)
fn4_rec2=pd.read_csv('rec2-hybrid-count_nodt_fnmm17-20.csv').reset_index(drop=True)

In [22]:
fn1_rec3=pd.read_csv('rec3-hyrbid-count_nodt_fnnat.csv').reset_index(drop=True)
fn2_rec3=pd.read_csv('rec3-hyrbid-count_nodt_fnmm20.csv').reset_index(drop=True)
fn3_rec3=pd.read_csv('rec3-hyrbid-count_nodt_fnmm16_19.csv').reset_index(drop=True)
fn4_rec3=pd.read_csv('rec3-hyrbid-count_nodt_fnmm17-20.csv').reset_index(drop=True)

In [23]:
li_nat = []
li_mm20 = []
li_mm16_19 = []
li_mm17_20 = []

smallest_length = min(len(fn1_hnh), len(fn2_hnh), len(fn3_hnh), len(fn4_hnh))

fn1_hnh = fn1_hnh[:smallest_length]
fn2_hnh = fn2_hnh[:smallest_length]
fn3_hnh = fn3_hnh[:smallest_length]
fn4_hnh = fn4_hnh[:smallest_length]

for i in range(smallest_length):
    li_nat.append('Fn_native' + '-' + str(fn1_hnh['#Frame'][i]))
    li_mm20.append('Fn_mm20' + '-' + str(fn1_hnh['#Frame'][i]))
    li_mm16_19.append('Fn_mm16_19' + '-' + str(fn1_hnh['#Frame'][i]))
    li_mm17_20.append('Fn_mm17-20' + '-' + str(fn1_hnh['#Frame'][i]))

fn1_hnh['Labels'] = li_nat
fn2_hnh['Labels'] = li_mm20
fn3_hnh['Labels'] = li_mm16_19
fn4_hnh['Labels'] = li_mm17_20
len(li_mm20)

49826

In [24]:
li_nat = []
li_mm20 = []
li_mm16_19 = []
li_mm17_20 = []

smallest_length = min(len(fn1_dna), len(fn2_dna), len(fn3_dna), len(fn4_dna))

fn1_dna = fn1_dna[:smallest_length]
fn2_dna = fn2_dna[:smallest_length]
fn3_dna = fn3_dna[:smallest_length]
fn4_dna = fn4_dna[:smallest_length]

for i in range(smallest_length):
    li_nat.append('Fn_native' + '-' + str(fn1_dna['#Frame'][i]))
    li_mm20.append('Fn_mm20' + '-' + str(fn1_dna['#Frame'][i]))
    li_mm16_19.append('Fn_mm16_19' + '-' + str(fn1_dna['#Frame'][i]))
    li_mm17_20.append('Fn_mm17-20' + '-' + str(fn1_dna['#Frame'][i]))

fn1_dna['Labels'] = li_nat
fn2_dna['Labels'] = li_mm20
fn3_dna['Labels'] = li_mm16_19
fn4_dna['Labels'] = li_mm17_20
len(li_mm20)

49826

In [25]:
li_nat = []
li_mm20 = []
li_mm16_19 = []
li_mm17_20 = []

smallest_length = min(len(fn1_rec1), len(fn2_rec1), len(fn3_rec1), len(fn4_rec1))

fn1_rec1 = fn1_rec1[:smallest_length]
fn2_rec1 = fn2_rec1[:smallest_length]
fn3_rec1 = fn3_rec1[:smallest_length]
fn4_rec1 = fn4_rec1[:smallest_length]

for i in range(smallest_length):
    li_nat.append('Fn_native' + '-' + str(fn1_rec1['#Frame'][i]))
    li_mm20.append('Fn_mm20' + '-' + str(fn1_rec1['#Frame'][i]))
    li_mm16_19.append('Fn_mm16_19' + '-' + str(fn1_rec1['#Frame'][i]))
    li_mm17_20.append('Fn_mm17-20' + '-' + str(fn1_rec1['#Frame'][i]))

fn1_rec1['Labels'] = li_nat
fn2_rec1['Labels'] = li_mm20
fn3_rec1['Labels'] = li_mm16_19
fn4_rec1['Labels'] = li_mm17_20
len(li_mm20)

49826

In [26]:
li_nat = []
li_mm20 = []
li_mm16_19 = []
li_mm17_20 = []

smallest_length = min(len(fn1_rec2), len(fn2_rec2), len(fn3_rec2), len(fn4_rec2))

fn1_rec2 = fn1_rec2[:smallest_length]
fn2_rec2 = fn2_rec2[:smallest_length]
fn3_rec2 = fn3_rec2[:smallest_length]
fn4_rec2 = fn4_rec2[:smallest_length]

for i in range(smallest_length):
    li_nat.append('Fn_native' + '-' + str(fn1_rec2['#Frame'][i]))
    li_mm20.append('Fn_mm20' + '-' + str(fn1_rec2['#Frame'][i]))
    li_mm16_19.append('Fn_mm16_19' + '-' + str(fn1_rec2['#Frame'][i]))
    li_mm17_20.append('Fn_mm17-20' + '-' + str(fn1_rec2['#Frame'][i]))

fn1_rec2['Labels'] = li_nat
fn2_rec2['Labels'] = li_mm20
fn3_rec2['Labels'] = li_mm16_19
fn4_rec2['Labels'] = li_mm17_20
len(li_mm20)

49826

In [27]:
li_nat = []
li_mm20 = []
li_mm16_19 = []
li_mm17_20 = []

smallest_length = min(len(fn1_rec3), len(fn2_rec3), len(fn3_rec3), len(fn4_rec3))

fn1_rec3 = fn1_rec3[:smallest_length]
fn2_rec3 = fn2_rec3[:smallest_length]
fn3_rec3 = fn3_rec3[:smallest_length]
fn4_rec3 = fn4_rec3[:smallest_length]

for i in range(smallest_length):
    li_nat.append('Fn_native' + '-' + str(fn1_rec3['#Frame'][i]))
    li_mm20.append('Fn_mm20' + '-' + str(fn1_rec3['#Frame'][i]))
    li_mm16_19.append('Fn_mm16_19' + '-' + str(fn1_rec3['#Frame'][i]))
    li_mm17_20.append('Fn_mm17-20' + '-' + str(fn1_rec3['#Frame'][i]))

fn1_rec3['Labels'] = li_nat
fn2_rec3['Labels'] = li_mm20
fn3_rec3['Labels'] = li_mm16_19
fn4_rec3['Labels'] = li_mm17_20
len(li_mm20)

49826

In [28]:
li_nat = []
li_mm20 = []
li_mm16_19 = []
li_mm17_20 = []

smallest_length = min(len(fn1_ruvc), len(fn2_ruvc), len(fn3_ruvc), len(fn4_ruvc))

fn1_ruvc = fn1_ruvc[:smallest_length]
fn2_ruvc = fn2_ruvc[:smallest_length]
fn3_ruvc = fn3_ruvc[:smallest_length]
fn4_ruvc = fn4_ruvc[:smallest_length]

for i in range(smallest_length):
    li_nat.append('Fn_native' + '-' + str(fn1_ruvc['#Frame'][i]))
    li_mm20.append('Fn_mm20' + '-' + str(fn1_ruvc['#Frame'][i]))
    li_mm16_19.append('Fn_mm16_19' + '-' + str(fn1_ruvc['#Frame'][i]))
    li_mm17_20.append('Fn_mm17-20' + '-' + str(fn1_ruvc['#Frame'][i]))

fn1_ruvc['Labels'] = li_nat
fn2_ruvc['Labels'] = li_mm20
fn3_ruvc['Labels'] = li_mm16_19
fn4_ruvc['Labels'] = li_mm17_20
len(li_mm20)

49826

In [29]:
fn1_rec2

,#Frame,Contacts_00001[native],Contacts_00001[nonnative],Labels
0,1,66,0,Fn_native-1
1,2,45,44,Fn_native-2
2,3,46,30,Fn_native-3
3,4,47,53,Fn_native-4
4,5,44,84,Fn_native-5
...,...,...,...,...
49821,49822,26,271,Fn_native-49822
49822,49823,35,228,Fn_native-49823
49823,49824,30,227,Fn_native-49824
49824,49825,31,257,Fn_native-49825
49825,49826,24,248,Fn_native-49826

In [30]:
fn1_hnh.columns=['Frames','Fn-hy-HNH_native','Fn-hy-HNH_non-native','Label']
fn2_hnh.columns=['Frames','Fn-hy-HNH_native','Fn-hy-HNH_non-native','Label']
fn3_hnh.columns=['Frames','Fn-hy-HNH_native','Fn-hy-HNH_non-native','Label']
fn4_hnh.columns=['Frames','Fn-hy-HNH_native','Fn-hy-HNH_non-native','Label']

fn1_ruvc.columns=['Frames','Fn-hy-RuvC_native','Fn-hy-RuvC_non-native','Label']
fn2_ruvc.columns=['Frames','Fn-hy-RuvC_native','Fn-hy-RuvC_non-native','Label']
fn3_ruvc.columns=['Frames','Fn-hy-RuvC_native','Fn-hy-RuvC_non-native','Label']
fn4_ruvc.columns=['Frames','Fn-hy-RuvC_native','Fn-hy-RuvC_non-native','Label']

fn1_rec1.columns=['Frames','Fn-hy-REC1_native','Fn-hy-REC1_non-native','Label']
fn2_rec1.columns=['Frames','Fn-hy-REC1_native','Fn-hy-REC1_non-native','Label']
fn3_rec1.columns=['Frames','Fn-hy-REC1_native','Fn-hy-REC1_non-native','Label']
fn4_rec1.columns=['Frames','Fn-hy-REC1_native','Fn-hy-REC1_non-native','Label']

fn1_rec2.columns=['Frames','Fn-hy-REC2_native','Fn-hy-REC2_non-native','Label']
fn2_rec2.columns=['Frames','Fn-hy-REC2_native','Fn-hy-REC2_non-native','Label']
fn3_rec2.columns=['Frames','Fn-hy-REC2_native','Fn-hy-REC2_non-native','Label']
fn4_rec2.columns=['Frames','Fn-hy-REC2_native','Fn-hy-REC2_non-native','Label']

fn1_rec3.columns=['Frames','Fn-hy-REC3_native','Fn-hy-REC3_non-native','Label']
fn2_rec3.columns=['Frames','Fn-hy-REC3_native','Fn-hy-REC3_non-native','Label']
fn3_rec3.columns=['Frames','Fn-hy-REC3_native','Fn-hy-REC3_non-native','Label']
fn4_rec3.columns=['Frames','Fn-hy-REC3_native','Fn-hy-REC3_non-native','Label']

fn1_dna.columns=['Frames','Fn-ntDNA-tDNA_native','Fn-ntDNA-tDNA-RuvC_non-native','Label']
fn2_dna.columns=['Frames','Fn-ntDNA-tDNA_native','Fn-ntDNA-tDNA-RuvC_non-native','Label']
fn3_dna.columns=['Frames','Fn-ntDNA-tDNA_native','Fn-ntDNA-tDNA-RuvC_non-native','Label']
fn4_dna.columns=['Frames','Fn-ntDNA-tDNA_native','Fn-ntDNA-tDNA-RuvC_non-native','Label']

In [31]:
fn_hnh_cont=pd.concat([fn1_hnh,fn2_hnh,fn3_hnh,fn4_hnh])
fn_rec1_cont=pd.concat([fn1_rec1,fn2_rec1,fn3_rec1,fn4_rec1])
fn_rec2_cont=pd.concat([fn1_rec2,fn2_rec2,fn3_rec2,fn4_rec2])
fn_rec3_cont=pd.concat([fn1_rec3,fn2_rec3,fn3_rec3,fn4_rec3])
fn_ruvc_cont=pd.concat([fn1_ruvc,fn2_ruvc,fn3_ruvc,fn4_ruvc])
fn_dna_cont=pd.concat([fn1_dna,fn2_dna,fn3_dna,fn4_dna])

fn_hnh_cont=fn_hnh_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
fn_ruvc_cont=fn_ruvc_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
fn_rec1_cont=fn_rec1_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
fn_rec2_cont=fn_rec2_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
fn_rec3_cont=fn_rec3_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
fn_dna_cont=fn_dna_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})

fn_hnh_cont.to_csv('FnCas9_HNH-Hybrid_contacts.csv')
fn_rec1_cont.to_csv('FnCas9_REC1-Hybrid_contacts.csv')
fn_rec2_cont.to_csv('FnCas9_REC2-Hybrid_contacts.csv')
fn_rec3_cont.to_csv('FnCas9_REC3-Hybrid_contacts.csv')
fn_ruvc_cont.to_csv('FnCas9_RuvC-Hybrid_contacts.csv')
fn_dna_cont.to_csv('FnCas9_DNA-Hybrid_contacts.csv')



cont_dna=fn_dna_cont
# ele_surf=pd.read_csv('FnCas9_all_interface_electrostatistics.csv')
hnh_hy=fn_hnh_cont
rec1_hy=fn_rec1_cont
rec2_hy=fn_rec2_cont
rec3_hy=fn_rec3_cont
ruvc_hy=fn_ruvc_cont

In [32]:
li1=list(df_na['Label'].unique())
li2=list(rmsd['Label'].unique())
li3=list(rog['Label'].unique())
li4=list(sasa['Label'].unique())
li5=list(angle['Label'].unique())
li6=li1=list(cont['Label'].unique())
li7=li1=list(out['Label'].unique())
frames1=[]
frames2=[]
frames3=[]
frames4=[]
frames5=[]
frames6=[]
frames7=[]

#for i in range(len(df_na)):
for j in li1:
    #print(j)
    val=np.arange(1,len(df_na[df_na['Label']==j])+1)
    for k in val:
        f=j+"-"+str(k)
        frames1.append(f)
df_na['Frames']=frames1
df_na.drop(['Label'], axis=1, inplace=True)
df_na.head()

for j in li2:
    #print(j)
    val=np.arange(1,len(rmsd[rmsd['Label']==j])+1)
    for k in val:
        f=j+"-"+str(k)
        frames2.append(f)
rmsd['Frames']=frames2
rmsd.drop(['Label'], axis=1, inplace=True)
rmsd.head()

for j in li3:
    #print(j)
    val=np.arange(1,len(rog[rog['Label']==j])+1)
    for k in val:
        f=j+"-"+str(k)
        frames3.append(f)
rog['Frames']=frames3
rog.drop(['Label'], axis=1, inplace=True)
rog.head()

for j in li4:
    #print(j)
    val=np.arange(1,len(sasa[sasa['Label']==j])+1)
    for k in val:
        f=j+"-"+str(k)
        frames4.append(f)
sasa['Frames']=frames4
sasa.drop(['Label'], axis=1, inplace=True)
sasa.head()

for j in li5:
    #print(j)
    val=np.arange(1,len(angle[angle['Label']==j])+1)
    for k in val:
        f=j+"-"+str(k)
        frames5.append(f)
angle['Frames']=frames5
angle.drop(['Label'], axis=1, inplace=True)
angle.head()

for j in li6:
    #print(j)
    val=np.arange(1,len(cont[cont['Label']==j])+1)
    for k in val:
        f=j+"-"+str(k)
        frames6.append(f)
cont['Frames']=frames6
cont.drop(['Label'], axis=1, inplace=True)
cont.head()

for j in li7:
    #print(j)
    val=np.arange(1,len(out[out['Label']==j])+1)
    for k in val:
        f=j+"-"+str(k)
        frames7.append(f)
out['Frames']=frames7
out.drop(['Label'], axis=1, inplace=True)
out.head()

             LIE       Frames
0      -410.4885  Fn_native-1
102404 -449.4299  Fn_native-2
145568 -417.8293  Fn_native-3
102388 -448.9658  Fn_native-4
145564 -448.3792  Fn_native-5

In [33]:
# only protein
df_prot1=sasa.merge(rog, on="Frames", how="inner").merge(rmsd, on="Frames", how="inner").merge(angle, on="Frames", how="inner")
df_prot1.rename(columns={'Frames':'Label'}, inplace=True)
df_prot1.head()

         SASA        Label      ROG    RMSD    Angle
0  16966.1651  Fn_native-1  42.3083  0.0000  74.9050
1  16274.8351  Fn_native-2  42.3648  3.6146  71.9931
2  15949.5076  Fn_native-3  41.9093  3.9389  70.8587
3  16626.5791  Fn_native-4  42.4010  3.7250  69.3978
4  15875.5775  Fn_native-5  41.7911  3.8886  68.9098

In [34]:
df_prot2=df_prot1.merge(hnh_hy,on="Label", how="inner").merge(rec1_hy,on="Label", how="inner").merge(rec2_hy,on="Label", how="inner").merge(rec3_hy,on="Label", how="inner").merge(ruvc_hy,on="Label", how="inner")
df_prot2.to_csv('final_input_output_FnCas9_EMX1_nodt_only_protein.csv', index=False)
df_prot2.head()

,SASA,Label,ROG,RMSD,Angle,Fn-hy-HNH_native,Fn-hy-HNH_non-native,Fn-hy-REC1_native,Fn-hy-REC1_non-native,Fn-hy-REC2_native,Fn-hy-REC2_non-native,Fn-hy-REC3_native,Fn-hy-REC3_non-native,Fn-hy-RuvC_native,Fn-hy-RuvC_non-native
0,16966.1651,Fn_native-1,42.3083,0.0000,74.9050,203,0,595,0,66,0,948,0,177,0
1,16274.8351,Fn_native-2,42.3648,3.6146,71.9931,149,50,459,131,45,44,743,255,140,55
2,15949.5076,Fn_native-3,41.9093,3.9389,70.8587,133,37,457,182,46,30,712,288,140,46
3,16626.5791,Fn_native-4,42.4010,3.7250,69.3978,96,37,473,138,47,53,675,354,135,65
4,15875.5775,Fn_native-5,41.7911,3.8886,68.9098,114,23,443,170,44,84,682,359,134,48

In [35]:
out

             LIE            Frames
0      -410.4885       Fn_native-1
102404 -449.4299       Fn_native-2
145568 -417.8293       Fn_native-3
102388 -448.9658       Fn_native-4
145564 -448.3792       Fn_native-5
...          ...               ...
42970  -358.2959  Fn_mm16_19-49822
137262 -368.5542  Fn_mm16_19-49823
137266 -366.2225  Fn_mm16_19-49824
42966  -355.7900  Fn_mm16_19-49825
100438 -375.1805  Fn_mm16_19-49826

[200877 rows x 2 columns]

In [36]:
df_na1=df_na.rename(columns={'Frames':'Label'})
cont1=cont.rename(columns={'Frames':'Label'})
out1=out.rename(columns={'Frames':'Label'})
df_dna=df_na1.merge(cont_dna,on="Label", how="inner").merge(out1, on="Label", how="inner").merge(cont1, on="Label", how="inner")
df_dna.to_csv('final_input_output_FnCas9_EMX1_nodt_onlyDNA.csv', index=False)
df_dna.head()

,fn_all_bp20_shear,fn_all_bp20_stretch,fn_all_bp20_stagger,fn_all_bp20_buckle,fn_all_bp20_propeller,fn_all_bp20_opening,fn_all_bp19_shear,fn_all_bp19_stretch,fn_all_bp19_stagger,fn_all_bp19_buckle,...,fn_all_bp17_stretch,fn_all_bp17_stagger,fn_all_bp17_buckle,fn_all_bp17_propeller,fn_all_bp17_opening,Label,Fn-ntDNA-tDNA_native,Fn-ntDNA-tDNA-RuvC_non-native,LIE,sgRNA-tDNA cont
0,-0.2235,-0.1560,0.1115,-5.2780,-6.1620,-2.6378,0.8102,0.1117,0.0089,4.0798,...,0.2895,-0.2006,2.3748,-21.4338,9.0367,Fn_native-1,438,0,-410.4885,875.0
1,-0.0246,-0.0426,0.0525,-1.9449,-9.4976,-0.4529,0.6822,0.1572,0.4577,4.0702,...,-0.1001,0.1352,-12.4686,-20.1810,-1.2443,Fn_native-2,342,66,-449.4299,698.0
2,-0.6886,-0.2216,-0.3474,-9.1124,-10.7522,0.9964,0.8532,-0.0798,0.4607,8.6720,...,0.1563,0.1135,-7.5888,-12.7424,-8.7436,Fn_native-3,329,45,-417.8293,653.0
3,-0.2224,-0.1921,-0.4324,-13.3789,-32.2909,0.1517,0.0591,-0.0899,0.1444,-11.1322,...,0.1120,0.0894,-4.0861,-10.4329,6.8023,Fn_native-4,325,66,-448.9658,667.0
4,-0.4906,0.0171,-0.6700,-19.3168,-12.3558,3.4286,0.3124,0.0721,-0.6816,-10.5390,...,-0.1891,-0.0572,3.6558,-14.0138,-0.8260,Fn_native-5,349,71,-448.3792,684.0

In [37]:
input_df=df_na.merge(angle, on="Frames", how="inner").merge(rmsd, on="Frames", how="inner").merge(sasa, on="Frames", how="inner").merge(rog, on="Frames", how="inner").merge(cont, on="Frames", how="inner").merge(out, on="Frames", how="inner")
input_df=input_df.rename(columns={"Frames": "Label"})
input_df.head()

,fn_all_bp20_shear,fn_all_bp20_stretch,fn_all_bp20_stagger,fn_all_bp20_buckle,fn_all_bp20_propeller,fn_all_bp20_opening,fn_all_bp19_shear,fn_all_bp19_stretch,fn_all_bp19_stagger,fn_all_bp19_buckle,...,fn_all_bp17_buckle,fn_all_bp17_propeller,fn_all_bp17_opening,Label,Angle,RMSD,SASA,ROG,sgRNA-tDNA cont,LIE
0,-0.2235,-0.1560,0.1115,-5.2780,-6.1620,-2.6378,0.8102,0.1117,0.0089,4.0798,...,2.3748,-21.4338,9.0367,Fn_native-1,74.9050,0.0000,16966.1651,42.3083,875.0,-410.4885
1,-0.0246,-0.0426,0.0525,-1.9449,-9.4976,-0.4529,0.6822,0.1572,0.4577,4.0702,...,-12.4686,-20.1810,-1.2443,Fn_native-2,71.9931,3.6146,16274.8351,42.3648,698.0,-449.4299
2,-0.6886,-0.2216,-0.3474,-9.1124,-10.7522,0.9964,0.8532,-0.0798,0.4607,8.6720,...,-7.5888,-12.7424,-8.7436,Fn_native-3,70.8587,3.9389,15949.5076,41.9093,653.0,-417.8293
3,-0.2224,-0.1921,-0.4324,-13.3789,-32.2909,0.1517,0.0591,-0.0899,0.1444,-11.1322,...,-4.0861,-10.4329,6.8023,Fn_native-4,69.3978,3.7250,16626.5791,42.4010,667.0,-448.9658
4,-0.4906,0.0171,-0.6700,-19.3168,-12.3558,3.4286,0.3124,0.0721,-0.6816,-10.5390,...,3.6558,-14.0138,-0.8260,Fn_native-5,68.9098,3.8886,15875.5775,41.7911,684.0,-448.3792

In [38]:
input_df2=input_df.merge(cont_dna,on="Label", how="inner").merge(hnh_hy,on="Label", how="inner").merge(rec1_hy,on="Label", how="inner").merge(rec2_hy,on="Label", how="inner").merge(rec3_hy,on="Label", how="inner").merge(ruvc_hy,on="Label", how="inner")
input_df2.head()

,fn_all_bp20_shear,fn_all_bp20_stretch,fn_all_bp20_stagger,fn_all_bp20_buckle,fn_all_bp20_propeller,fn_all_bp20_opening,fn_all_bp19_shear,fn_all_bp19_stretch,fn_all_bp19_stagger,fn_all_bp19_buckle,...,Fn-hy-HNH_native,Fn-hy-HNH_non-native,Fn-hy-REC1_native,Fn-hy-REC1_non-native,Fn-hy-REC2_native,Fn-hy-REC2_non-native,Fn-hy-REC3_native,Fn-hy-REC3_non-native,Fn-hy-RuvC_native,Fn-hy-RuvC_non-native
0,-0.2235,-0.1560,0.1115,-5.2780,-6.1620,-2.6378,0.8102,0.1117,0.0089,4.0798,...,203,0,595,0,66,0,948,0,177,0
1,-0.0246,-0.0426,0.0525,-1.9449,-9.4976,-0.4529,0.6822,0.1572,0.4577,4.0702,...,149,50,459,131,45,44,743,255,140,55
2,-0.6886,-0.2216,-0.3474,-9.1124,-10.7522,0.9964,0.8532,-0.0798,0.4607,8.6720,...,133,37,457,182,46,30,712,288,140,46
3,-0.2224,-0.1921,-0.4324,-13.3789,-32.2909,0.1517,0.0591,-0.0899,0.1444,-11.1322,...,96,37,473,138,47,53,675,354,135,65
4,-0.4906,0.0171,-0.6700,-19.3168,-12.3558,3.4286,0.3124,0.0721,-0.6816,-10.5390,...,114,23,443,170,44,84,682,359,134,48

In [40]:
input_df2.shape

(95045, 43)

In [41]:
input_df2.columns

Index(['fn_all_bp20_shear', 'fn_all_bp20_stretch', 'fn_all_bp20_stagger',
       'fn_all_bp20_buckle', 'fn_all_bp20_propeller', 'fn_all_bp20_opening',
       'fn_all_bp19_shear', 'fn_all_bp19_stretch', 'fn_all_bp19_stagger',
       'fn_all_bp19_buckle', 'fn_all_bp19_propeller', 'fn_all_bp19_opening',
       'fn_all_bp18_shear', 'fn_all_bp18_stretch', 'fn_all_bp18_stagger',
       'fn_all_bp18_buckle', 'fn_all_bp18_propeller', 'fn_all_bp18_opening',
       'fn_all_bp17_shear', 'fn_all_bp17_stretch', 'fn_all_bp17_stagger',
       'fn_all_bp17_buckle', 'fn_all_bp17_propeller', 'fn_all_bp17_opening',
       'Label', 'Angle', 'RMSD', 'SASA', 'ROG', 'sgRNA-tDNA cont', 'LIE',
       'Fn-ntDNA-tDNA_native', 'Fn-ntDNA-tDNA-RuvC_non-native',
       'Fn-hy-HNH_native', 'Fn-hy-HNH_non-native', 'Fn-hy-REC1_native',
       'Fn-hy-REC1_non-native', 'Fn-hy-REC2_native', 'Fn-hy-REC2_non-native',
       'Fn-hy-REC3_native', 'Fn-hy-REC3_non-native', 'Fn-hy-RuvC_native',
       'Fn-hy-RuvC_non-native'],
      dtype='object')

In [38]:
input_df2.to_csv('final_input_output_FnCas9_EMX1_nodt.csv', index= False)

## FnCas9

In [5]:
# Adding a label column to all fn contact files (replace, hnh, hnh, hnh)

li_nat=[]
li_mm20=[]
li_mm16_19=[]
li_mm17_20=[]

# for i in range(len(df1)):
#     li_rd.append('fn_RNA_DNA')

for i in range(len(fn1_hnh)):
    #print(fn1_hnh['#Frame'][i])
    li_nat.append('Fn_native'+'-'+str(fn1_hnh['#Frame'][i]))

for i in range(len(fn2_hnh)):
    li_mm20.append('Fn_mm20'+'-'+str(fn1_hnh['#Frame'][i]))

for i in range(len(fn3_hnh)):
    li_mm16_19.append('Fn_mm16_19'+'-'+str(fn1_hnh['#Frame'][i]))
    
for i in range(len(fn4_hnh)):
    li_mm17_20.append('Fn_mm17-20'+'-'+str(fn1_hnh['#Frame'][i]))

fn1_hnh['Labels']=li_nat
fn2_hnh['Labels']=li_mm20
fn3_hnh['Labels']=li_mm16_19
fn4_hnh['Labels']=li_mm17_20

In [4]:
# Adding a label column to all fn contact files (replace, dna, dna, dna)

li_nat=[]
li_mm20=[]
li_mm16_19=[]
li_mm17_20=[]

# for i in range(len(df1)):
#     li_rd.append('fn_RNA_DNA')

for i in range(len(fn1_dna)):
    #print(fn1_dna['#Frame'][i])
    li_nat.append('Fn_native'+'-'+str(fn1_dna['#Frame'][i]))

for i in range(len(fn2_dna)):
    li_mm20.append('Fn_mm20'+'-'+str(fn1_dna['#Frame'][i]))

for i in range(len(fn3_dna)):
    li_mm16_19.append('Fn_mm16_19'+'-'+str(fn1_dna['#Frame'][i]))
    
for i in range(len(fn4_dna)):
    li_mm17_20.append('Fn_mm17-20'+'-'+str(fn1_dna['#Frame'][i]))

fn1_dna['Labels']=li_nat
fn2_dna['Labels']=li_mm20
fn3_dna['Labels']=li_mm16_19
fn4_dna['Labels']=li_mm17_20

In [3]:
# Adding a label column to all fn contact files (replace, rec1, rec1, rec1)

li_nat=[]
li_mm20=[]
li_mm16_19=[]
li_mm17_20=[]

# for i in range(len(df1)):
#     li_rd.append('fn_RNA_DNA')

for i in range(len(fn1_rec1)):
    #print(fn1_rec1['#Frame'][i])
    li_nat.append('Fn_native'+'-'+str(fn1_rec1['#Frame'][i]))

for i in range(len(fn2_rec1)):
    li_mm20.append('Fn_mm20'+'-'+str(fn1_rec1['#Frame'][i]))

for i in range(len(fn3_rec1)):
    li_mm16_19.append('Fn_mm16_19'+'-'+str(fn1_rec1['#Frame'][i]))
    
for i in range(len(fn4_rec1)):
    li_mm17_20.append('Fn_mm17-20'+'-'+str(fn1_rec1['#Frame'][i]))

fn1_rec1['Labels']=li_nat
fn2_rec1['Labels']=li_mm20
fn3_rec1['Labels']=li_mm16_19
fn4_rec1['Labels']=li_mm17_20

In [2]:
# Adding a label column to all fn contact files (replace, rec2, rec2, rec2)

li_nat=[]
li_mm20=[]
li_mm16_19=[]
li_mm17_20=[]

# for i in range(len(df1)):
#     li_rd.append('fn_RNA_DNA')

for i in range(len(fn1_rec2)):
    #print(fn1_rec2['#Frame'][i])
    li_nat.append('Fn_native'+'-'+str(fn1_rec2['#Frame'][i]))

for i in range(len(fn2_rec2)):
    li_mm20.append('Fn_mm20'+'-'+str(fn1_rec2['#Frame'][i]))

for i in range(len(fn3_rec2)):
    li_mm16_19.append('Fn_mm16_19'+'-'+str(fn1_rec2['#Frame'][i]))
    
for i in range(len(fn4_rec2)):
    li_mm17_20.append('Fn_mm17-20'+'-'+str(fn1_rec2['#Frame'][i]))

fn1_rec2['Labels']=li_nat
fn2_rec2['Labels']=li_mm20
fn3_rec2['Labels']=li_mm16_19
fn4_rec2['Labels']=li_mm17_20

In [1]:
# Adding a label column to all fn contact files (replace, rec3, rec3, rec3)

li_nat=[]
li_mm20=[]
li_mm16_19=[]
li_mm17_20=[]

# for i in range(len(df1)):
#     li_rd.append('fn_RNA_DNA')

for i in range(len(fn1_rec3)):
    #print(fn1_rec3['#Frame'][i])
    li_nat.append('Fn_native'+'-'+str(fn1_rec3['#Frame'][i]))

for i in range(len(fn2_rec3)):
    li_mm20.append('Fn_mm20'+'-'+str(fn1_rec3['#Frame'][i]))

for i in range(len(fn3_rec3)):
    li_mm16_19.append('Fn_mm16_19'+'-'+str(fn1_rec3['#Frame'][i]))
    
for i in range(len(fn4_rec3)):
    li_mm17_20.append('Fn_mm17-20'+'-'+str(fn1_rec3['#Frame'][i]))

fn1_rec3['Labels']=li_nat
fn2_rec3['Labels']=li_mm20
fn3_rec3['Labels']=li_mm16_19
fn4_rec3['Labels']=li_mm17_20

In [57]:
# Adding a label column to all fn contact files (replace, ruvc, ruvc, ruvc)

li_nat=[]
li_mm20=[]
li_mm16_19=[]
li_mm17_20=[]

# for i in range(len(df1)):
#     li_rd.append('fn_RNA_DNA')

for i in range(len(fn1_ruvc)):
    #print(fn1_ruvc['#Frame'][i])
    li_nat.append('Fn_native'+'-'+str(fn1_ruvc['#Frame'][i]))

for i in range(len(fn2_ruvc)):
    li_mm20.append('Fn_mm20'+'-'+str(fn1_ruvc['#Frame'][i]))

for i in range(len(fn3_ruvc)):
    li_mm16_19.append('Fn_mm16_19'+'-'+str(fn1_ruvc['#Frame'][i]))
    
for i in range(len(fn4_ruvc)):
    li_mm17_20.append('Fn_mm17-20'+'-'+str(fn1_ruvc['#Frame'][i]))

fn1_ruvc['Labels']=li_nat
fn2_ruvc['Labels']=li_mm20
fn3_ruvc['Labels']=li_mm16_19
fn4_ruvc['Labels']=li_mm17_20

In [33]:
fn_hnh_cont=pd.concat([fn1_hnh,fn2_hnh,fn3_hnh,fn4_hnh])
fn_hnh_cont.columns=['Frames','Fn-hy-HNH_native','Fn-hy-HNH_non-native','Labels']
fn_rec1_cont=pd.concat([fn1_rec1,fn2_rec1,fn3_rec1,fn4_rec1])
fn_rec1_cont.columns=['Frames','Fn-hy-REC1_native','Fn-hy-REC1_non-native','Labels']
fn_rec2_cont=pd.concat([fn1_rec2,fn2_rec2,fn3_rec2,fn4_rec2])
fn_rec2_cont.columns=['Frames','Fn-hy-REC2_native','Fn-hy-REC2_non-native','Labels']
fn_rec3_cont=pd.concat([fn1_rec3,fn2_rec3,fn3_rec3,fn4_rec3])
fn_rec3_cont.columns=['Frames','Fn-hy-REC3_native','Fn-hy-REC3_non-native','Labels']
fn_ruvc_cont=pd.concat([fn1_ruvc,fn2_ruvc,fn3_ruvc,fn4_ruvc])
fn_ruvc_cont.columns=['Frames','Fn-hy-RuvC_native','Fn-hy-RuvC_non-native','Labels']
fn_dna_cont=pd.concat([fn1_dna,fn2_dna,fn3_dna,fn4_dna])
fn_dna_cont.columns=['Frames','Fn-ntDNA-tDNA_native','Fn-ntDNA-tDNA_non-native','Labels']

fn_hnh_cont=fn_hnh_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
fn_ruvc_cont=fn_ruvc_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
fn_rec1_cont=fn_rec1_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
fn_rec2_cont=fn_rec2_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
fn_rec3_cont=fn_rec3_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
fn_dna_cont=fn_dna_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})

fn_hnh_cont.to_csv('FnCas9_HNH-Hybrid_contacts.csv')
fn_rec1_cont.to_csv('FnCas9_REC1-Hybrid_contacts.csv')
fn_rec2_cont.to_csv('FnCas9_REC2-Hybrid_contacts.csv')
fn_rec3_cont.to_csv('FnCas9_REC3-Hybrid_contacts.csv')
fn_ruvc_cont.to_csv('FnCas9_RuvC-Hybrid_contacts.csv')
fn_dna_cont.to_csv('FnCas9_DNA-Hybrid_contacts.csv')